@layer components {
  math-field[contenteditable]:not([read-only]) {
    @apply rounded-md border border-input bg-background px-3 py-2 text-base w-full;
    display: block;

    --hue: theme(colors.primary.DEFAULT);
    --primary: theme(colors.primary.DEFAULT);
    --caret-color: theme(colors.primary.DEFAULT);
    --selection-color: theme(colors.primary.foreground);
    --selection-background-color: theme(colors.primary.DEFAULT);
    --contains-highlight-background-color: theme(colors.secondary.DEFAULT);
    --placeholder-color: theme(colors.muted.foreground);
    --placeholder-opacity: 0.5;
    --smart-fence-color: theme(colors.ring);
    --smart-fence-opacity: 0.5;
    --highlight-text: theme(colors.secondary.DEFAULT);
    --text-font-family: theme(fontFamily.sans);
    --latex-color: theme(colors.foreground);
    --correct-color: theme(colors.green.500);
    --incorrect-color: theme(colors.destructive);

    &:focus-within {
      @apply outline-none ring-2 ring-ring ring-offset-2 ring-offset-background;
    }

    &::part(menu-toggle) {
      display: none;
    }

    &::part(virtual-keyboard-toggle) {
      display: none;
    }
  }

  #mathlive-suggestion-popover {
    background-color: theme("colors.background") !important;
    color: theme("colors.foreground") !important;
    border-radius: theme("borderRadius.md") !important;
    box-shadow: theme("boxShadow.md") !important;
    padding: theme("spacing.1") !important;

    &::after {
      border: 0 !important;
    }
  
    li {
      width: 100% !important;
      margin: 0 !important;
      margin-bottom: theme("spacing.1") !important;
      padding: theme("spacing.1") !important;
      border-radius: theme("borderRadius.DEFAULT") !important;
  
      &:hover {
        background-color: theme("colors.muted.DEFAULT") !important;
      }
    }
  }
}